@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  overflow-x: hidden;
  font-size: 14px; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

.clearfix {
  clear: both; }

input, textarea {
  outline: none; }

#fly-main-ui {
  height: 100%; }

.zmiti-main-ui {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden; }
  .zmiti-main-ui .play {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 100;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .zmiti-main-ui > ul {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: row;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    box-sizing: border-box; }
    .zmiti-main-ui > ul li {
      -webkit-box-flex: 1;
      border-right: 1px solid #999;
      border-bottom: 1px solid #999;
      text-align: center;
      line-height: 40px; }
  .zmiti-main-ui .zmiti-piano-C {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-main-ui .zmiti-piano-C > section {
      -webkit-box-flex: 1;
      height: 100%;
      box-sizing: border-box; }
      .zmiti-main-ui .zmiti-piano-C > section:nth-of-type(2) {
        display: none; }
      .zmiti-main-ui .zmiti-piano-C > section .zmiti-piano-key {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;
        height: 100%; }
        .zmiti-main-ui .zmiti-piano-C > section .zmiti-piano-key li {
          -webkit-box-flex: 1;
          width: 100%;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          perspective: 800px;
          -webkit-perspective: 800px;
          position: relative; }
          .zmiti-main-ui .zmiti-piano-C > section .zmiti-piano-key li span.white-key {
            width: 100%;
            height: 100%;
            position: absolute; }
            .zmiti-main-ui .zmiti-piano-C > section .zmiti-piano-key li span.white-key:before {
              position: absolute;
              width: 100%;
              height: 100%;
              content: '';
              background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
              background: -webkit-linear-gradient(120deg, #f8f8f8, #ffffff);
              background: linear-gradient(-30deg, #f8f8f8, #ffffff);
              box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5); }
            .zmiti-main-ui .zmiti-piano-C > section .zmiti-piano-key li span.white-key.pressdown {
              -webkit-transform-origin: right;
              transform-origin: right;
              -webkit-transform: rotateY(-4deg);
              transform: rotateY(-4deg); }
          .zmiti-main-ui .zmiti-piano-C > section .zmiti-piano-key li span.black-key {
            content: "";
            box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
            background: -webkit-linear-gradient(-20deg, #222222, #000000, #222222);
            background: -webkit-linear-gradient(110deg, #222222, #000000, #222222);
            background: linear-gradient(-20deg, #222222, #000000, #222222);
            border-width: 1px 3px 8px;
            border-style: solid;
            border-color: #666 #222 #111 #555;
            height: 50%;
            position: absolute;
            top: 68%;
            right: -40%;
            width: 70%;
            z-index: 10; }
          .zmiti-main-ui .zmiti-piano-C > section .zmiti-piano-key li img {
            position: absolute; }

/*# sourceMappingURL=index.css.map */